<group name="Admin">
        <acl name="Moderator"></acl>
        <acl name="SuperModerator"></acl>
        <acl name="Admin"></acl>
        <acl name="RPC"></acl>
        <object name="resource.admin"></object>
        <object name="resource.webadmin"></object>
        <object name="resource.acpanel"></object>
        <object name="resource.nwmta_engine"></object>
        <object name="resource.nwmta_admins"></object>
        <object name="resource.nwmta_banlist"></object>
        <object name="resource.nwmta_whitelist"></object>
    </group>
